apiVersion: v1
kind: ServiceAccount
metadata:
  name: sipstuff-operator
  namespace: sipstuff
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: sipstuff-operator
  namespace: sipstuff
rules:
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["create", "get", "list", "watch", "delete"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sipstuff-operator
  namespace: sipstuff
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: sipstuff-operator
subjects:
  - kind: ServiceAccount
    name: sipstuff-operator
    namespace: sipstuff
